*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.nb-gradle/
build/
.nb-gradle-properties
.gradle
.cssinliner
/temp
src/main/resources/node_modules
src/main/resources/web/bundle.js
CssInliner.iml
CssInliner.ipr
CssInliner.iws
!/gradle/*
