/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 27, 2015, 2:48:57 PM
    Author     : greg
*/

/* remove outline on icons */
md-icon:focus, div:focus {
    outline: 0;
}

div.full-height, md-content.full-height {
    height: 100%
}

.list-item {
    font-size: 13px;
}

.list-item .label {
    text-align: right;
}

.list-item .content {
    color: #808080;
    margin-left: 8px;
    overflow: hidden;
    word-wrap: break-word;
}

div[ng-click] {
    cursor: pointer;
}

div.doc-list {
    margin-bottom: 1em;
    padding: 4px;
    font-size: 13px;
}

div.doc-list.selected {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px;
}

.hide-no-select {
    display: none;
}

.selected .hide-no-select {
    display: block;
}

.has-error {
    color: red;
}

.updated {
    background-color: lightgray;
}

.control-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

.preview-title {
    text-align: center;
    font-weight: 700;
    margin: 1em 0;
}

.preview-wrapper {
    height: calc(100% - 100px);
}

.preview-content {
    height: 100%;
    padding: 1px;
    margin-right: 5px;
}
